@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

:root {
  --primary: #d7b972;
  --text: #f5f5f5;
  --text2: #121212;
  --h1-size: calc(30px + 4vw);
  --h2-size: 60px;
  --text-size: calc(16px + 0.2vw);
  --filter: #161927bd;
  --bg: #161927;
  --padding-inline: 5vw;
  --padding-inline2: 15vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  font-family: "Outfit", sans-serif;
}

html,
.wrapper {
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--text);
}

header {
  position: relative;
  /* background-color: var(--bg); */
  background: no-repeat center url(../ressources/images/background.jpg);
  background-size: cover;
  height: 100vh;
  /* color: var(--text); */
  z-index: 3;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--filter);
  z-index: -1;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(22, 25, 39, 0) 0%, #161927 100%);
  z-index: -1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 100%;
  position: relative;
}

.navBox {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 4vw;
}

.navLink {
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s;
}

.boxIcon {
  position: absolute;
  top: 50%;
  right: 5vw;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2vw;
}

.boxIcon > a {
  cursor: pointer;
}

.boxIcon svg {
  fill: var(--text);
  transition: fill 0.2s;
}

.navLink:hover,
.boxIcon > a:hover svg {
  color: var(--primary);
  fill: var(--primary);
}

.boxTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 125px);
  gap: 40px;
  margin-inline: 30px;
}

h1.title {
  text-align: center;
  font-size: var(--h1-size);
  text-transform: uppercase;
  color: var(--primary);
}

.subtitle {
  text-align: center;
  max-width: 700px;
  font-size: var(--text-size);
}

.btnCollection {
  text-decoration: none;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 10px 15px;
  font-size: var(--text-size);
  position: relative;
  z-index: 3;
  transition: color 0.3s ease-in-out;
}

.btnCollection::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--primary);
  z-index: -1;
  transition: height 0.3s ease-in-out;
}

.btnCollection:hover::after {
  height: 100%;
}

.btnCollection:hover {
  color: var(--text2);
}

.aboutBox {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  padding-inline: var(--padding-inline2);
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10vw; */
  width: 100%;
}

.aboutContainer__imgBox > .imgContainer {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 30px 5px rgba(101, 172, 238, 0.3);
}

.aboutContainer__imgBox > .imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutContainer__textBox > h2 {
  font-size: var(--h2-size);
}

.aboutContainer__textBox > p {
  max-width: 600px;
  margin-top: 20px;
  font-size: var(--text-size);
}

.faqBox {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
